.mainWelcome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: coral;
    background-color: white;
    box-shadow: black;
    box-shadow:50px
}

body {
    background-color: grey;
}
